In [13]:
import scipy as scipy
import pandas as pd

In [ ]:
cha_mat=scipy.io.loadmat("Res_CH-Cha.mat", )
cha_mat

In [28]:
cha = pd.DataFrame(
    { 
        'date (h)': cha_mat['Date'].squeeze(), 
        'GPP1': cha_mat['GPP1'].squeeze(), 
        'Ta': cha_mat['Ta'].squeeze(),
        'VPD': cha_mat['VPD'].squeeze()
    }
)
cha

             date (h)      GPP1      Ta     VPD
0       732313.020833 -5.664860  2.2570  0.0690
1       732313.062500 -5.036680  2.2945  0.0125
2       732313.104167 -2.184570  2.2490  0.0470
3       732313.145833 -6.822810  2.3290  0.1635
4       732313.187500 -6.240285  2.7175  0.2295
...               ...       ...     ...     ...
166531  739251.812500 -1.451840  3.3120  0.0050
166532  739251.854167 -2.375465  1.9865  0.0000
166533  739251.895833 -3.388580  1.3315  0.0150
166534  739251.937500 -1.426110  2.1375  0.1200
166535  739251.979167 -1.237395  2.2530  0.2210

[166536 rows x 4 columns]